.wpsmy_settings {
	font-size: 16px !important;
}
.wpsmy_admin_dev_sidebar_div {
	width:300px;
	height:255px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 20px 20px 20px 0;
	border: 1px solid #FF9900;
	background-color:#FFFFFF;
	padding: 10px 10px 0 30px;
}
.wpsmy_admin_dev_sidebar {
	font-size: 14px;
	margin: 0 20px 10px 0;
	display: block;
}
.wpsmy_admin_dev_sidebar img{
	/* padding: 5px 5px 0 0; */
	padding: 0 5px 0 0;
	vertical-align: middle;
}
.wpsmy_news_section {
	border-radius: 20px 20px 20px 0;
	border: 1px solid #FF9900;
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
	width: 98%;
}
a.wpsmy_rsswidget {
	font-size: 16px !important;
	text-decoration: none !important;
}
.wpsmy_rss-widget ul li {
	margin-bottom: 25px !important;
}
.wpsmy_referrals {
	background: #FFF;
	width: 250px;
	min-height: 270px;
	border: 1px solid #CCC;
	float: left;
	padding: 15px;
	position: relative;
	margin: 32px 10px 10px 0;
	color: #0073AA;
	font-size: 14px;
	line-height: 1.5;
}